html, body {
    height: 100%;
    width: 100%;
  }
  .container{display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;}

    button{width:200px;
      height: 75px;
      margin-right: 10%;
      margin-left: 10% ;
     }
